<h1 class="text-center">コメント一覧</h1>
  <%= @comments.pluck(:user_id) %>
 <% @comments.each do |comment| %>
  コメント本文: <%= comment.comment_content %>
  <% if comment.post.image.attached? %>
    投稿画像: <%= image_tag comment.post.image, size: "100x100" %>
  <% end %>
  タグ: 
  <% comment.post.tags.each do |tag| %>
   <%= tag.tag_name %>
  <% end %>
  コメント画像: <% comment.image %>
  <%= link_to "削除",admin_comment_path(comment),method: :delete, class:"btn btn-secondary" %>
  <br>
 <% end %>