<h1>みんなの投稿</h1>
<h3>投稿を検索</h3>
  <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
  <%= text_field_tag :search, nil, placeholder: "キーワード・タグを検索" %>
  <%= submit_tag '検索する' %>
  <% @tag_list.each do |tag| %>
    <%= link_to "##{tag.tag_name}", public_tag_path(tag) %>
    <% end %>
  <% end %>
<table class="table table-hover">
  <thead>
    <th>投稿者名</th>
    <th>投稿タイトル</th>
    <th>投稿本文</th>
    <th>投稿画像</th>
    <th>タグ</th>
    <th>コメント数</th>
    <th>いいね</th>
    <th></th>
  </thead>
  <% @posts.each do |post| %>
  <tbody>
    <td><%= link_to post.user.user_name, public_user_path(post.user.id) %></td>
    <td><%= link_to post.title, public_post_path(post.id) %></td>
    <td><%= post.body %></td>
    <td>
      <% if post.image.attached? %>
      <%= image_tag post.image, size: "100x100" %>
      <% end %>
    </td>
    <td>
      <% post.tags.each do |tag| %>
      <%= link_to "##{tag.tag_name}", public_tag_path(tag) %>
      <% end %>
    </td>
    <td>
      <% if post.comments.count != 0 %>
        <%= link_to "コメント数",public_comment_path(post) %>
        <%= post.comments.count %>
      <% end %>
    </td>
    <% if current_user.email != 'guest@example.com'  %>
    <td>
      <% if post.favorited?(current_user) %>
        <%= link_to public_favorite_path(post.id), method: :delete do %>
        <%= post.favorites.count %>
        <span style="color:red;">❤︎</span>
      <% end %>
      <% else %>
        <%= link_to public_favorite_create_path(post.id), method: :post do %>
        <%= post.favorites.count %>
        <span>❤︎</span>
        <% end %>
      <% end %>
    </td>
    <td><%= link_to "コメント", new_public_comment_path %></td>
    <% end %>
    <% end %>
    <%= paginate @posts %>
  </tbody>
</table>