<h1>投稿詳細</h1>
<table class="table table-hover">
  <thead>
    <th>投稿者名</th>
    <th>投稿タイトル</th>
    <th>投稿本文</th>
    <th>投稿画像</th>
    <th>タグ</th>
  </thead>
  <tbody>
    <td><%= @post.user.user_name %></td>
    <td><%= @post.title %></td>
    <td><%= @post.body %></td>
    <td>
      <% if @post.image.attached? %>
      <%= image_tag @post.image, size: "100x100" %>
      <% end %>
    </td>
    <td>
      <% @post.tags.each do |tag| %>
      <%= link_to "##{tag.tag_name}", public_tag_path(tag) %>
      <% end %>
    </td>
  </tbody>
</table>
 <% if current_user.email != 'guest@example.com'  %>
<h2>コメントを投稿</h2>
<%= form_with model: [:public, @comment], local: true do |f| %>
<div class="container">
  <div>
    <%= f.hidden_field :post_id, value: @post.id %>
  </div>
  <div>
    <%= f.text_area :comment_content, placeholder: "ここにコメントを入力", size: "40x5" %>
  </div>
  <div class="m-3">
    <%= f.submit "投稿" %>
  </div>
</div>
<% end %>
<% end %>