<h1>コメント投稿</h1>
<%= form_with model: @comment, url: public_comments_path(@comment.id), method: :post,local: true do |form| %>
<div class="container">
  <div>
    <%= form.hidden_field :post_id, :value => @post_id %>
  </div>
  <div>
    <%= form.label :comment_content,"本文", {class:"d-block"} %>
    <%= form.text_area :comment_content, size: "40x5" %>
  </div>
  <div class="m-3">
    <%= form.file_field :image, accept: "image/*" %>
  </div>
  <div class="m-3">
    <%= form.submit "投稿" %> 
  </div>
</div>
<% end %>