<h2>新規会員登録画面</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <table class="table table-borderless">
  <colgroup>
    <col width="35%">
    <col width="30%">
    <col width="50%">
  </colgroup>
  <tbody>
    <tr>
      <td>プロフィール画像</td>
      <td>
        <% if @user.profile_image.attached? %>
        <%= image_tag profile_image, size: "200x200" %>
        <% else %>
        <%= image_tag 'no_image.jpg', size: "200x200" %>
        <% end %>
        <%= f.file_field :profile_image, accept: "image/*" %>
      </td>
    </tr>
    <tr>
      <td>ユーザーネーム</td>
      <td>
        <%= f.text_field :user_name, autofocus: true %>
      </td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td>名前</td>
      <td><%= f.label :last_name,"(姓)" %><%= f.text_field :last_name %></td>
      <td><%= f.label :first_name,"(名)" %><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= f.label :last_name_kana,"(セイ)" %><%= f.text_field :last_name_kana %></td>
      <td><%= f.label :first_name_kana,"(メイ)" %><%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td>
        <%= f.text_area :introduction %>
      </td>
    </tr>
    <tr>
      <td>パスワード(6文字以上)</td>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <td>パスワード(確認用)</td>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
  </tbody>

</table>
  <div class="actions">
    <%= f.submit "会員登録",class:"btn btn-success" %>
  </div>
<% end %>
<h2>既に登録済みの方</h2>

<%= render "public/shared/links" %>

<h2>ゲストログインはこちらから</h2>

<%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, class:"btn btn-info", method: :post %>