<h1>会員詳細画面</h1>
<div class = col-md-7>
 <table class="table table-borderless">
  <tr>
   <td>会員ID</td>
   <td>
    <%= @user.id %>
   </td>
  </tr>
  <tr>
    <td>ユーザーネーム</td>
    <td>
      <%= @user.user_name %>
    </td>
  </tr>
  <tr>
   <td>氏名</td>
    <td>
     <%= @user.last_name %><%= @user.first_name %>
   </td>
  </tr>
  <tr>
   <td>メールアドレス</td>
   <td>
    <%= @user.email %>
   </td>
  </tr>
  <tr>
   <td>ステータス</td>
   <td>
     <% if @user.is_deleted == false %>
      <p>有効</p>
     <% else %>
      <p>退会</p>
     <% end %>
   </td>
  </tr>
  <tr>
   <td>
    <h3>投稿一覧</h3>
    <% @posts.each do |post| %>
     <% if post.image.attached? %>
       <%= image_tag post.image, size: "100x100" %>
       <% end %>
     <%= post.title %>
     <%= post.body %>
     <% post.tags.each do |each| %>
      <%= tag.tag_name %>
     <% end %>
     <%= link_to "削除", admin_post_path(post), method: :delete %>
    <% end %>
   </td>
   <td>
     <%= link_to "コメント一覧", admin_comments_path(id: @user.id), class:"btn btn-info" %>
     <%= link_to "いいね一覧", admin_favorites_path(id: @user.id), class:"btn btn-info" %>
   </td>

  </tr>
 </table>
</div>
  <div class>
   <%= link_to '編集する',  edit_admin_user_path(@user.id),class:"btn btn-success" %>
  </div>