<h1 class="text-center"><%= @user.user_name %></h1>
  <p class="text-center"><%= image_tag @user.get_profile_image(200,200) %></p>

<h2 class="text-center">自己紹介</h2>
 <p class="text-center"><%= @user.introduction %></p>

<h2 class="text-center">投稿一覧</h2>
 <table class="text-center">
　<% @posts.each do |post| %>
　  <tr>
　    <td>
  　      <% if post.image.attached? %>
         <%= image_tag post.image, size: "100x100" %>
         <% end %>
　    </td>
　    <td>
　     <%= post.title %>
　    </td> 
　    <td>
　     <%= post.body %>
　    </td>
　    <td>
　        <% if post.comments.count != 0 %>
　        <%= link_to "返信数",public_post_path(post) %>
　        <%= post.comments.count %>
　        <% end %>
　    </td>
　  </tr>
  <% end %>
</table>
 
<h2 class="text-center">いいね一覧</h2>
  <% @user.favorites.each do |f| %>
  <section>
    
  <p class="text-center"><%= f.post.user.user_name %></p>
  <p class="text-center"><%= f.post.title %></p>
  <p class="text-center"><%= f.post.body %></p>
  <div class="text-center">
     <% if f.post.image.attached? %>
     <%= image_tag f.post.image, size: "100x100" %>
     <% end %>
  </div>
   </section>
  <% end %>
<p class="text-center">
 <%= link_to "編集画面へ", edit_public_user_path,class: "btn btn-success ml2" %>
</p>